.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: 20px;
    text-align: center;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .popup-header h2 {
    margin: 0;
    font-size: large;
    font-weight: bold;
  }
  
  .popup-container button {
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #de0303;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .popup-body p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }